<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/script.js" defer></script>
  <script src="/js/log-in.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <title>Account System: log-in</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <form action="/account/log-in" method="post">
    <h2>Log in</h2>

    <label id="log-in-username-label" for="log-in-username">Username</label>
    <input id="log-in-username" name="log-in-username" placeholder="" type="text" autofocus required />

    <label id="log-in-password-label" for="log-in-password">Password</label>
    <input id="log-in-password" name="log-in-password" placeholder="" type="password" required />

    <div>
      <label id="log-in-stay-label" for="log-in-stay">Stay logged in?</label>
      <input id="log-in-stay" name="log-in-stay" placeholder="" type="checkbox" checked />
    </div>

    <p>
      Don't have an account? <strong> <a href="/account/sign-up">Sign up</a></strong>
    </p>

    <button type="submit">Login</button>
  </form>
  <% if (locals.suspended) { %>

  <div class="modal-container" id="modal-container">
    <div class="backdrop" id="backdrop"></div>
    <form action="/account/log-in" method="post" class="modal" id="delete-disactivated">
      <h3>Account is suspended. Do you want to restore it?</h3>
      <p>Account will be deleted on: <%=suspended.deleteOn%></p>
      <div class="buttons">
        <button type="submit" id="confirm-restore">Confirm</button>
        <button type="reset" id="cancel-restore">Cancel</button>
      </div>
      <input name="log-in-username" type="hidden" value=<%=suspended.username%> />
      <input name="log-in-password" type="hidden" value=<%=suspended.password%> />
      <input name="log-in-stay" type="hidden" value=<%=suspended.keepLogged%> />
      <input name="log-in-unsuspend" type="hidden" value="1" />
    </form>
  </div>

  <script>
    const modalContainer = document.getElementById('modal-container');
    const cancelRestore = document.getElementById('cancel-restore');

    cancelRestore.addEventListener('click', e => {
      modalContainer.classList.add('hide');
    });
  </script>

  <% } %>
</body>

</html>