<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/script.js" defer></script>
  <script src="/js/profile.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <title>Account System</title>
</head>

<body>
  <%- include('./partials/alerts.ejs') %>
  <%- include('./partials/header.ejs') %>

  <main>
    <div class="profile-container">
      <div class="banner"></div>
      <img class="profile-picture" src="/media/profile-icon.png" alt="profile picture placeholder">
      <div class="content" id="content">
        <% if (profileDisplayName) { %>

        <h1 id="display-name"><%= profileDisplayName %></h1>
        <h3 id="user-name">@<%= profileUsername %></h3>

        <% } else { %>
        <h1 id="user-name">@<%= profileUsername %></h1>
        <% } %>
        <% if (showMemberSince) { %>
        <h3 id="member-since">Member since: <%=memberSince%></h3>
        <% } else {%>
        <h3 id="member-since"></h3>
        <% } %>
        <div id="about-me-container" class="about-me-container">
          <h2>About Me</h2>
          <p id="about-me" class="about-me"><%=locals.aboutMe%></p>
        </div>
        <% if (canEdit) { %>
        <button class="profile-edit-button" id="profile-edit-button">Edit</button>
        <% } %>
      </div>

      <form action="<%=username%>/update-profile" method="post" enctype="multipart/form-data" id="edit-menu" class="edit-menu hide">
        <div class="profile-edit-display-name-container">
          <label class="profile-edit-display-name-label" id="profile-edit-display-name-label" for="profile-edit-display-name">Display name</label>
          <input class="profile-edit-display-name" id="profile-edit-display-name" name="profile-edit-display-name" placeholder="" value="<%=profileDisplayName%>" type="text" autofocus />
        </div>

        <div class="profile-edit-show-member-since-container">
          <label class="profile-edit-show-member-since-label" id="profile-edit-show-member-since-label" for="profile-edit-show-member-since">Show members since?</label>
          <% if (showMemberSince) { %>
          <input class="profile-edit-show-member-since" class="profile-edit-show-member-since" id="profile-edit-show-member-since" name="profile-edit-show-member-since" placeholder="" type="checkbox" checked />
          <% } else { %>
          <input class="profile-edit-show-member-since" id="profile-edit-show-member-since" name="profile-edit-show-member-since" placeholder="" type="checkbox" />
          <% } %>
        </div>

        <div id="profile-edit-about-me" class="profile-edit-about-me">
          <h2>About Me</h2>
          <textarea name="profile-edit-about-me-textbox" id="profile-edit-about-me-textbox"><%=locals.aboutMe%></textarea>
        </div>

        <label for="profile-edit-pfp" class="profile-edit-pfp-label">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 256 256">
            <path fill="#ffffff" d="m230.14 70.54l-44.68-44.69a20 20 0 0 0-28.29 0L33.86 149.17A19.85 19.85 0 0 0 28 163.31V208a20 20 0 0 0 20 20h44.69a19.86 19.86 0 0 0 14.14-5.86L230.14 98.82a20 20 0 0 0 0-28.28M91 204H52v-39l84-84l39 39Zm101-101l-39-39l18.34-18.34l39 39Z" />
          </svg>
        </label>
        <input type="file" name="profile-edit-pfp" accept=".png,.jpg,.jpeg" class="profile-edit-pfp" id="profile-edit-pfp">

        <div class="buttons-edit-container">
          <button id="profile-edit-update" type="submit">Update Profile</button>
          <button id="profile-edit-cancel" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </main>
</body>

</html>